  <!--nav plans-->
  <nav class="navbar navbar-light bg-light" style="border-top: 1px solid rgb(146, 145, 145);" >
    <div class="container">
        <div style="margin: 5px;">
            <label style=" margin-right:20px ;">filters by category</label>
            <button class="btn btn-outline-secondary my-2 my-sm-0 active" type=""
                style="border-radius: 20px;">Medicaid</button>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"
                style="border-radius: 20px;">Medicare</button>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"
                style="border-radius: 20px;">Commercial</button>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"
                style="border-radius: 20px;">Medicaid MCO</button>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"
                style="border-radius: 20px;">ALL</button>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border-radius: 20px;"><span><i
                    class="bi bi-funnel"></i></span> All filters</button>
    </div>
</nav>

<!--body of page-->
<div>

    <!--plan 1 + clock-->
    <div class="my-3">
        <!--plan-->
        <div style="width: 70%;  float: left;">
            <div class="col-md mx-5 ">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-100 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <img src="./assets/careLogo.png" height="150px">

                    </div>
                    <div class="col p-3 d-flex flex-column position-static border" style="border-radius: 20px;">
                        <strong class="d-inline-block mb-0">PLA1</strong>
                        <h4 class="mb-0">Alternative name - <span style="float: right;"><button
                                    class="btn btn-outline-primary" type="button" style="border-radius: 20px;">
                                    $ 500 </button></span></h4>
                        <span class="text-success">Region <span class="text-danger">| Category : Medicaid
                                <hr class="mb-0">
                            </span></span>

                        <p> <a routerLink="" class="mb-0 " style="float: left;">View Features </a><a class="me-5"
                                style="float: right;">ADD TO
                                CART</a></p>

                    </div>

                </div>
            </div>
        </div>
        <!--clock-->
        <div style="width: 30%; float: left;">
            <div class="col-md">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Let's talk</strong>
                        <h4 class="mb-0">Connect with expert</h4>
                        <p class="card-text mb-auto " style="font-size: small;">we provide claim support at any
                            hospital
                            or home in 30 minutes
                            <a routerLink="" class="stretched-link">Click here</a>
                        </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="./assets/clock.jpg" height="150px" width="150px">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--plan 2 + clock-->
    <div class="my-3">
        <!--plan-->
        <div style="width: 70%;  float: left;">
            <div class="col-md mx-5 ">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <img src="./assets/careLogo.png" height="150px">

                    </div>
                    <div class="col p-3 d-flex flex-column position-static border" style="border-radius: 20px;">
                        <strong class="d-inline-block mb-0">PLA2</strong>
                        <h4 class="mb-0">Alternative name - <span style="float: right;"><button
                                    class="btn btn-outline-primary" type="button" style="border-radius: 20px;">
                                    $ 700 </button></span></h4>
                        <span class="text-success">Region <span class="text-danger">| Category : Medicaid
                                <hr class="mb-0">
                            </span></span>

                        <p> <a routerLink="" class="mb-0 " style="float: left;">View Features </a><a class="me-5"
                                style="float: right;">ADD TO
                                CART</a></p>


                    </div>

                </div>
            </div>
        </div>
        <!--clock-->
        <div style="width: 30%; float: left;">
            <div class="col-md">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Let's talk</strong>
                        <h4 class="mb-0">Connect with expert</h4>
                        <p class="card-text mb-auto " style="font-size: small;">we provide claim support at any
                            hospital
                            or home in 30 minutes
                            <a routerLink="" class="stretched-link">Click here</a>
                        </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="./assets/clock.jpg" height="150px" width="150px">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--plan 3 + clock-->
    <div class="my-3">
        <!--plan-->
        <div style="width: 70%;  float: left;">
            <div class="col-md mx-5 ">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <img src="./assets/careLogo.png" height="150px">

                    </div>
                    <div class="col p-3 d-flex flex-column position-static border" style="border-radius: 20px;">
                        <strong class="d-inline-block mb-0">PLA3</strong>
                        <h4 class="mb-0">Alternative name - <span style="float: right;"><button
                                    class="btn btn-outline-primary" type="button" style="border-radius: 20px;">
                                    $ 900 </button></span></h4>
                        <span class="text-success ">Region <span class="text-danger">| Category : Medicaid
                                <hr class="mb-0">
                            </span></span>

                        <p> <a routerLink="" class="mb-0 " style="float: left;">View Features </a><a class="me-5"
                                style="float: right;">ADD TO
                                CART</a></p>


                    </div>

                </div>
            </div>
        </div>
        <!--clock-->
        <div style="width: 30%; float: left;">
            <div class="col-md">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Let's talk</strong>
                        <h4 class="mb-0">Connect with expert</h4>
                        <p class="card-text mb-auto " style="font-size: small;">we provide claim support at any
                            hospital
                            or home in 30 minutes
                            <a routerLink="" class="stretched-link">Click here</a>
                        </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="./assets/clock.jpg" height="150px" width="150px">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!--proceed to cart button-->
    <div style="position:fixed; overflow:hidden; left: 50%;top: 95%;">
        <a routerLink="../cart"> <button type="button" class="btn btn-outline-dark">Proceed to Cart</button></a>
    </div>
</div>
