
<div class="container-fluid  ">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="card mt-4 mx-4 shadow " style="border-radius:10px ;">
                    <span class="mt-2 pb-2 border-bottom">Add more plans in cart in order to make a purchase.</span>
                    <!--col1 row1-->
                    <div class="container-fluid p-2">
                        <div class="m-1 mb-5">
                            <button class="btn btn-outline-success my-2 my-sm-0 active" type="">All</button>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Payor
                                Service</button>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add-ons</button>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                style="border-radius: 20px; float: right;"><span><i
                                        class="bi bi-trash-fill"></i></span> Clear Cart</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--col1 row2-->
            <div class="row mt-2">
                <!--upper part-->
                <div class="card mt-4 mx-4 shadow " style="border-radius:10px ;">
                    <strong class="pt-3 px-3"> Smart suggestions plans</strong>
                    <p class="px-3 pt-1">Add-ons are a smart way to enhance your cover at a fraction of the cost.
                    </p>
                    <!--button-->
                    <div class="container">
                        <div style="margin: 5px;">
                            <button class="btn btn-outline-success my-2 my-sm-0 " type=""
                                style="border-radius: 20px;">Medicaid</button>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                style="border-radius: 20px;">Medicare</button>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                style="border-radius: 20px;">Commercial</button>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                style="border-radius: 20px;">Medicaid MCO</button>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                style="border-radius: 20px;">ALL</button>
                        </div>
                    </div>

                    <!--body of page-->
                    <div>

                        <!--plan 1-->
                        <div class="my-3">
                            <!--plan-->
                            <div class="col-md mx-5 ">
                                <div
                                    class="row g-0  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-100 position-relative">

                                    <div class="col p-3 d-flex flex-column position-static border"
                                        style="border-radius: 20px;">
                                        <strong class="d-inline-block mb-0">Plan Name</strong>
                                        <h6 class="mb-0 text-success" style="font-size: 12px;">Plan catagory
                                            name<span style="float: right;"><button
                                                    class="btn-sm btn-outline-primary" type="button"
                                                    style="border-radius: 20px;">
                                                    $ 299 </button></span>
                                            <hr class="mb-0 mt-4">
                                        </h6>
                                        <p class="mb-0"><a routerLink="" class=" btn text-success"
                                                style="float: left;">View Features </a><a
                                                class="me-5 btn text-success" style="float: right;"><b>Add To
                                                    Cart</b></a></p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--plan 2-->
                        <div class="my-3">
                            <!--plan-->
                            <div class="col-md mx-5 ">
                                <div
                                    class="row g-0  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-100 position-relative">

                                    <div class="col p-3 d-flex flex-column position-static border"
                                        style="border-radius: 20px;">
                                        <strong class="d-inline-block mb-0">Plan Name</strong>
                                        <h6 class="mb-0 text-success" style="font-size: 12px;">Plan catagory
                                            name<span style="float: right;"><button
                                                    class="btn-sm btn-outline-primary" type="button"
                                                    style="border-radius: 20px;">
                                                    $ 199 </button></span>
                                            <hr class="mb-0 mt-4">
                                        </h6>
                                        <p class="mb-0"><a routerLink="" class=" btn text-success"
                                                style="float: left;">View Features </a><a
                                                class="me-5 btn text-success" style="float: right;"><b>Add To
                                                    Cart</b></a></p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--plan 3-->
                        <div class="my-3">
                            <!--plan-->
                            <div class="col-md mx-5 ">
                                <div
                                    class="row g-0  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-100 position-relative">

                                    <div class="col p-3 d-flex flex-column position-static border"
                                        style="border-radius: 20px;">
                                        <strong class="d-inline-block mb-0">Plan Name</strong>
                                        <h6 class="mb-0 text-success" style="font-size: 12px;">Plan catagory
                                            name<span style="float: right;"><button
                                                    class="btn-sm btn-outline-primary" type="button"
                                                    style="border-radius: 20px;">
                                                    $ 99 </button></span>
                                            <hr class="mb-0 mt-4">
                                        </h6>
                                        <p class="mb-0"><a routerLink="" class=" btn text-success"
                                                style="float: left;">View Features </a><a
                                                class="me-5 btn text-success" style="float: right;"><b>Add To
                                                    Cart</b></a></p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--plan 4-->
                        <div class="my-3">
                            <!--plan-->
                            <div class="col-md mx-5 ">
                                <div
                                    class="row g-0  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-100 position-relative">

                                    <div class="col p-3 d-flex flex-column position-static border"
                                        style="border-radius: 20px;">
                                        <strong class="d-inline-block mb-0">Plan Name</strong>
                                        <h6 class="mb-0 text-success" style="font-size: 12px;">Plan catagory
                                            name<span style="float: right;"><button
                                                    class="btn-sm btn-outline-primary" type="button"
                                                    style="border-radius: 20px;">
                                                    $ 98 </button></span>
                                            <hr class="mb-0 mt-4">
                                        </h6>
                                        <p class="mb-0"><a routerLink="" class=" btn text-success"
                                                style="float: left;">View Features </a><a
                                                class="me-5 btn text-success" style="float: right;"><b>Add To
                                                    Cart</b></a></p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--col2 row1-->
        <div class="col">
            <div class="card shadow mt-4 mx-5 p-4 " style="border-radius:10px ;">
                <div class="mb-3">
                    <label for="businessName" class="form-label ">Business Name (Optional)</label><br>
                    <p style="font-size: 10px;" class="mb-0">
                        If you are incorporated or have a sole propnetorship , please enter the company name here.
                        If not leave it blank.
                    </p>
                    <input type="text" class="form-control" id="businessName" value="Sunny">
                </div>
                <div class="row">
                    <div class="col">
                        <label for="firstName" class="form-label ">First Name <sup
                                class="text-danger">*</sup></label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="col">
                        <label for="lastName" class="form-label ">Last Name<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <hr class="mt-4">

                <div class="mb-3">
                    <label for="businessAddress" class="form-label mb-0">Business Address<sup
                            class="text-danger">*</sup></label><br>
                    <p style="font-size: 10px;" class="mt-0">
                        This address will be displayed on the top of your invoice and will be used as the mailing
                        address when filling your applications. To add a different mailing address to your
                        applications, click(+)
                    </p>
                    <input type="radio" class="form-check-input mx-4" id="radiobusinessAddress"
                        name="radiobusinessAddress" required>
                    <label for="radiobusinessAddress" class="form-check-label mx-5">7894563215<br>
                        12850 E MONTVIEW BLVD # V20-2125 MAILSTOP C238 US CO </label>
                </div>
                <div class="d-grid mt-2">
                    <button class="btn" type="button">+ Add a new address</button>
                </div>
                <div class="form-check mt-2 mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Does your mailling address is same as above?
                    </label>
                </div>
            </div>

        </div>
    </div>
    <!--go back button-->
    <div style="position:fixed; overflow:hidden; left: 50%;top: 95%;">
        <a routerLink="../plans"> <button type="button" class="btn btn-outline-dark">Go
                Back</button></a>
    </div>
</div>